node_modules

# Database files
*.db

# Virtual environment
backend/venv

# Environment variables
.env
.env.local
.env.*.local

# Python compiled files
*.pyc
__pycache__/

# IDE configuration
.vscode/
.idea/

# Operating system files
Thumbs.db
.DS_Store

# Log files
*.log

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp
.temp/
.tmp/
